<br>
<br>
<!--<a href="/">Link HOME</a>-->
<!--<br>-->
<!--<a href="/mostrarmarca">Link Para Mostrar Marcas</a>-->
<!--<br>-->
<!--<a href="/Mostrarveiculo">Link Para Mostrar Veículos</a>-->

<!--o menu pode ser referenciando o link direto/ estático como vc fez-->

<!--ou usando as confs das urls-->
<!--usando o NAME que vc definiu-->

<a href="{% url 'index' %}">Página PRINCIPAL</a>
<br>
<a href="{% url 'mostrarmarca' %}">Link Para Mostrar Marcas</a>
<br>
<a href="{% url 'Mostrarveiculo' %}">Link Para Mostrar Veículos</a>